footer.flex{
justify-content: space-between;
padding-bottom: 2rem;

}
footer.flex ul {
    gap: 1rem;
}
footer.flex ul a {
    color: var(--sub-title);
    font-size: .9rem;
    position: relative;
}
footer.flex ul a::after{
    content: "";
    position: absolute;
    background-color: var(--blue-color);
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;
}
footer.flex ul a:hover{
    color: var(--blue-color);

}
footer.flex ul a:hover::after{
    width: 100%;
}

footer.flex p{
    color: rgb(113,113,122);
}

@media (max-width: 800px){
    footer.flex{
        flex-direction: column;
        gap: 2rem;
    }
}
